{{ block title }}{{ endblock }}

{{ block content }}

<link rel="stylesheet" href="{{ static 'css/css.css' }}">
<link rel="stylesheet" href="{{ static 'css/modal.css' }}">
<script type="text/javascript" src="{{ static 'js/Script_modal.js' }}"></script>

<div class="content-box box-info">
    <h2 class="section-title">Introductory Instructions</h2>
    <hr class="section-divider">

    {{ include C.Instructions_general_path }}

    {% for field in form %}
        {% if field.name not in hidden_fields %}
            {{ formfield field.name }}
        {% endif %}
    {% endfor %}

    <div style="display:none">
        {% for field in form %}
            {% if field.name in hidden_fields %}
                {{ formfield field.name }}
            {% endif %}
        {% endfor %}
    </div>
  </div>

    <div class="buttons-container">
        <a id="myBtn" onclick="open_modal(1)" class="btn btn-info">Introductory instructions</a>
        <button id="NextButton" class="btn btn-primary">Next</button>
    </div>
</div>

<!-- Modal popup -->
<div id="myModal1" class="modal">
  <div class="modal-content">
      <div class="modal-header">
        <h2><span class="icon">📘</span>Instructions</h2>
        <span class="close" onclick="span_click(1)">&times;</span>
      </div>
      <div class="modal-body">
        <p>
          {{ include C.Instructions_general_path }}
        </p>
      </div>
  </div>
</div>

{{ endblock }}